<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96705246134-b7ofqu9v1fala4kt5lj74h9vdj85155e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96705246134-b7ofqu9v1fala4kt5lj74h9vdj85155e</string>
	<key>API_KEY</key>
	<string>AIzaSyAXazxff3fNnetR5V23XXNrAMPF7Fsl-Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>96705246134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasar.Puan-Hesapla</string>
	<key>PROJECT_ID</key>
	<string>puan-hesapla-b076f</string>
	<key>STORAGE_BUCKET</key>
	<string>puan-hesapla-b076f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96705246134:ios:7a7896d75536c4a33cc717</string>
	<key>DATABASE_URL</key>
	<string>https://puan-hesapla-b076f.firebaseio.com</string>
</dict>
</plist>